# Backend API URL
NEXT_PUBLIC_API_URL=https://your-ecommerce-api.onrender.com

# Frontend Site URL
NEXT_PUBLIC_FRONTEND_URL=https://shopit-users.vercel.app

# Nodemailer SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=officialdami18@gmail.com
SMTP_PASS=egzz uroc uqwk ouig
SMTP_FROM=officialdami18@gmail.com
SMTP_FROM_NAME=ShopIt Commerce